{% extends "main.html" %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-center">Manage Orphans</h2>
  <p class="text-center">
  <a href="{% url 'add_orphan' %}" class="btn btn-success mb-3">Add   Orphan</a>
  <a href="{% url 'orphans' %}" class="btn btn-danger mb-3">Delete Orphan</a>
  <a href="{% url 'orphans' %}" class="btn btn-warning mb-3">Update   Orphan</a>
  </p>
  <a href="{% url 'coordinator_dashboard' %}" class="btn btn-secondary">back to dashboard</a>

 </div>
{% endblock %}
