{% extends "main.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <h2 class="mb-4 text-center">{{ orphans_count }} Orphans Registered</h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Full Name</th>
          <th>Date of Birth</th>
          <th>Address</th>
          <th>Contact</th>
          <th>Next of Kin</th>
          <th>Local Government</th>
          <th>Date Registered</th>
          <th>View Details</th>
        </tr>
      </thead>
      <tbody>
        {% for orphan in orphans %}
        <tr>
          <td>{{ orphan.full_name }}</td>
          <td>{{ orphan.Dob }}</td>
          <td>{{ orphan.address }}</td>
          <td>{{ orphan.contact }}</td>
          <td>{{ orphan.next_of_kin }}</td>
          <td>{{ orphan.local_government }}</td>
          <td>{{ orphan.registered_date }}</td>
          <td>
            <a href="{% url 'orphans_detail' orphan.pk %}" class="btn btn-primary btn-block btn-sm">
              Details
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="text-center mt-3">
    {% if user.staffProfile.role == 'coordinator' %}
    <a href="{% url 'orphans_crud' %}" class="btn btn-secondary btn-block btn-md w-50 mx-auto">
      Back to Dashboard
    </a>
    {% endif %}
  </div>
</div>
{% endblock content %}
